# User-specific files not required
*.bsa
*.esm
*.dll
*.[Ww]av
*.[Pp]df
*.exe
*.[Ii]nk
*.ini
*.TXT
*.txt
*.[Zz]ip

# Game plugins not required.
*[Oo]blivion/[Dd]ata/DLCSpellTomes.esp
*[Oo]blivion/[Dd]ata/DLCBattlehornCastle.esp
*[Oo]blivion/[Dd]ata/DLCFrostcrag.esp
*[Oo]blivion/[Dd]ata/DLCHorseArmor.esp
*[Oo]blivion/[Dd]ata/DLCMehrunesRazor.esp
*[Oo]blivion/[Dd]ata/DLCOrrery.esp
*[Oo]blivion/[Dd]ata/DLCShiveringIsles.esp
*[Oo]blivion/[Dd]ata/DLCThievesDen.esp
*[Oo]blivion/[Dd]ata/DLCVileLair.esp
*[Oo]blivion/[Dd]ata/Knights.esp


# Game data not required
[Oo]blivion/[Dd]ata/Docs/
[Oo]blivion/[Dd]ata/BGSEE/
[Oo]blivion/[Dd]ata/Backup/
[Oo]blivion/[Dd]ata/Fonts/
[Oo]blivion/[Dd]ata/Meshes/
[Oo]blivion/[Dd]ata/OBSE/
[Oo]blivion/[Dd]ata/Trees/
[Oo]blivion/[Dd]ata/LSData/
[Oo]blivion/[Dd]ata/Music/
[Oo]blivion/[Dd]ata/Shaders/
[Oo]blivion/[Dd]ata/Textures/
[Oo]blivion/[Dd]ata/Video/
[Oo]blivion/[Ll]ex/

Oblivion/Construction Set Extender\.log

Oblivion/obse_editor\.log

Oblivion/Data/Backup/DEFAULT\.bak

Oblivion/~\$nstruction Set Extender_readme\.rtf

*.bak

Oblivion/obse_loader\.log

Oblivion/LipSyncPipeClient\.log

*.lnk
